body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Set background color to white */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  header {
    margin-bottom: 50px;
  }
  
  .logo {
    width: 100px; /* Adjust as needed */
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  header h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header p {
    font-size: 24px;
    color: #666;
    margin-bottom: 40px;
  }
  
  .icon-container {
    font-size: 48px;
  }
  
  .icon-container i {
    margin: 0 20px;
    color: #007bff; /* Bright blue color */
    transition: color 0.3s ease;
  }
  
  .icon-container i:hover {
    color: #0056b3; /* Darker blue color on hover */
  }
  
  main {
    text-align: left;
  }
  
  .features, .about {
    margin-bottom: 50px;
  }
  
  .features h2, .about h2 {
    color: #007bff; /* Bright blue color */
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .features ul li {
    margin-bottom: 10px;
  }
  
  .about p {
    color: #666;
  }
  