@keyframes fallIn {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  html, body {
    height: 100%;
  }
  
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: #333;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }


  h1 {
    font-size: 42px;
    color: #004d99;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
  }

  main {
    text-align: center;
  }

  .result-container {
    border: 2px solid #004d99;
    padding: 30px;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .analysis-details {
    text-align: left;
    margin-bottom: 20px;
  }

  .analysis-details p {
    font-size: 18px;
    color: #555;
  }

  .analysis-details h2 {
    font-size: 24px;
    color: #004d99;
    margin-bottom: 10px;
  }

  footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
    font-size: 16px;
  }

  header {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .logo {
    width: 100px; /* Adjust as needed */
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 48px;
    color: #2c2424; /* White color for text */
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header p {
    font-size: 24px;
    color: #241d1d; /* White color for text */
    margin-bottom: 40px;
  }
  
  
  .features, .about {
    margin-bottom: 50px;
  }
  
  .features h2, .about h2 {
    color: #fff; /* White color for headings */
    margin-bottom: 20px;
  }
  
  .features ul, .about ul {
    list-style: none;
    padding: 0;
  }
  
  .features ul li, .about ul li {
    margin-bottom: 10px;
    color: #eee; /* Light gray color for text */
    font-size: 18px;
    animation: fallIn 1s ease forwards;
    opacity: 0;
    transform: translateY(-100%);
  }
  
  footer p {
    font-size: 14px;
  }
  