@keyframes fallIn {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(135deg, #ff8c00, #000000, #ffff00);
  }
  
  .container {
    min-height: 100vh; /* Ensure container fills at least the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  header {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .logo {
    width: 100px; /* Adjust as needed */
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 48px;
    color: #fff; /* White color for text */
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header p {
    font-size: 24px;
    color: #fff; /* White color for text */
    margin-bottom: 40px;
  }
  
  main {
    text-align: center;
  }
  
  .features, .about {
    margin-bottom: 50px;
  }
  
  .features h2, .about h2 {
    color: #fff; /* White color for headings */
    margin-bottom: 20px;
  }
  
  .features ul, .about ul {
    list-style: none;
    padding: 0;
  }
  
  .features ul li, .about ul li {
    margin-bottom: 10px;
    color: #eee; /* Light gray color for text */
    font-size: 18px;
    animation: fallIn 1s ease forwards;
    opacity: 0;
    transform: translateY(-100%);
  }
  
  footer {
    margin-top: auto; /* Push footer to the bottom */
    color: #eee; /* Light gray color for text */
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
  }
  